.s1{
    background-image: url('/senai.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;
}
.s2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
    gap: 20px;
}
.left{
    width: 400px;
}
.left img{
    box-shadow: 0px 3px 10px #00000085;
    border-radius: 10px;
    width: 400px;
}
.right{
    width: 500px;
    min-width: 300px;
}
.s3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}
.card{
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 8px;
}
@media (width <= 1000px){
    .left img{
        border-radius: 0px;
        width: 100%;
    }
    .s1{
        background-image: url('/public/senaiMobile.jpg');
    }
}
